html, body{
    background-image: linear-gradient(to left top, #f5de13, #ff6600);
    height: 100%;
    margin: 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    align-items: center;
    justify-content: space-around;
    margin: 0 5% 0 5%;
}


.button{
    width: 10vh;
    text-align: center;
    text-shadow: 0 0 0.5rem black;
    padding: 0.8vh;
    margin: 0 1.3vh 0 1.3vh;
    border: solid;
    border-color: black;
    border-radius: 10%;
    border-width: 0.7vh;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.07s ease;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
  }

kbd{
    font-size: 2rem;
    display: block;
    color: white;
}

.sound{
    color: rgb(241, 177, 57);
}
